@use '@angular/material' as mat;

$msm-primary-colors: (
  50: rgba(0, 79, 111, 0.1),
  100: rgba(0, 79, 111, 0.2),
  200: rgba(0, 79, 111, 0.3),
  300: rgba(0, 79, 111, 0.4),
  400: rgba(0, 79, 111, 0.5),
  500: rgba(0, 79, 111, 0.6),
  600: rgba(0, 79, 111, 0.7),
  700: rgba(0, 79, 111, 0.8),
  800: rgb(0, 79, 111, 0.9),
  900: #004f6f,
  A100: #e4e4e4,
  A200: rgba(228, 228, 228, 0.5),
  A400: rgba(20, 20, 20, 0.5),
  A700: #141414,
  contrast: (
    50: rgba(0, 149, 169, 0.1),
    100: rgba(0, 149, 169, 0.2),
    200: rgba(0, 149, 169, 0.3),
    300: rgba(0, 149, 169, 0.4),
    400: rgba(0, 149, 169, 0.5),
    500: rgba(0, 149, 169, 0.6),
    600: rgba(0, 149, 169, 0.7),
    700: rgba(0, 149, 169, 0.8),
    800: rgba(0, 149, 169, 0.9),
    900: #0095a9,
    A100: #141414,
    A200: rgba(20, 20, 20, 0.5),
    A400: rgba(228, 228, 228, 0.5),
    A700: #e4e4e4,
  )
);

$msm-secondary-colors: (
  50: rgba(220, 168, 23, 0.1),
  100: rgba(220, 168, 23, 0.2),
  200: rgba(220, 168, 23, 0.3),
  300: rgba(220, 168, 23, 0.4),
  400: rgba(220, 168, 23, 0.5),
  500: rgba(220, 168, 23, 0.6),
  600: rgba(220, 168, 23, 0.7),
  700: rgba(220, 168, 23, 0.8),
  800: rgb(220, 168, 23, 0.9),
  900: #dca817,
  A100: #e4e4e4,
  A200: rgba(228, 228, 228, 0.5),
  A400: rgba(20, 20, 20, 0.5),
  A700: #141414,
  contrast: (
    50: rgba(0, 116, 115, 0.1),
    100: rgba(0, 116, 115, 0.2),
    200: rgba(0, 116, 115, 0.3),
    300: rgba(0, 116, 115, 0.4),
    400: rgba(0, 116, 115, 0.5),
    500: rgba(0, 116, 115, 0.6),
    600: rgba(0, 116, 115, 0.7),
    700: rgba(0, 116, 115, 0.8),
    800: rgb(0, 116, 115, 0.9),
    900: #007473,
    A100: #141414,
    A200: rgba(20, 20, 20, 0.5),
    A400: rgba(228, 228, 228, 0.5),
    A700: #e4e4e4,
  )
);

$msm-primary: mat.m2-define-palette($msm-primary-colors);
$msm-secondary: mat.m2-define-palette($msm-secondary-colors);


