<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-content" mode="side" opened>
    <section>
      <div class="example-flex-container">
        <div class="icon-container">
          <button aria-label="Button Home" mat-icon-button>
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="icon-container">
          <button aria-label="Button Data" mat-icon-button routerLink="/data">
            <mat-icon>dashboard</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <h1 class="text" i18n>Hi world</h1>
    <h3 i18n>Thank you</h3>
    <h4 i18n>{{ "05/12/2005" | date }}</h4>
    <h4 i18n>{{ 120 | currency }}</h4>
    <div class="graph-container">
      <div class="line-chart-div">
        <app-line-chart [userDataValencia]="dataChartValencia()"></app-line-chart>
      </div>
      <div class="pie-chart-div">
        <app-pie-chart [userDataMadrid]="dataChartMadrid()"></app-pie-chart>
      </div>
      <div class="bar-chart-div">
        <app-bar-chart [userDataBarcelona]="dataChartBarcelona()"></app-bar-chart>
      </div>
      <div class="mixed-chart-div">
        <app-mixed-chart [userDataValencia]="dataChartValencia()"></app-mixed-chart>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


